@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


@font-face {
  font-family: 'Metal Lord';
  src: 
    url('./assets/fonts/metal-lord.ttf');
}

@font-face {
  font-family: 'Maiden';
  src: 
    url('./assets/fonts/maiden.ttf');
}
  

html {
  -webkit-font-smoothing: antialiased;
}

body {
  background: #222; 
  color: white;
  font-size: 20px;
  padding-bottom: 44px; 
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4 {
  margin-top: 0;
}



a {
  color: white;
  text-decoration: none;
  transition: all .35s ease;
}

a:hover {
  cursor: pointer;
  color: rgb(255,40,0);
}


ul {
  list-style-type: none;
  padding: 0;
}

h4 {
  margin-bottom: 0px;
}


.App {
  text-align: center;
  position: relative;
}

.Page {
  padding-top: 25vh;
  height: calc(71vh - 44px);
  padding-bottom: 44px;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}


.Clearfix {
  clear: both;
}

/* hamburger nav */

.Collapsible {
  float: left;
  text-align: left;
  position: fixed;
  top: 0;
  z-index: 1000;
  margin: 6%;
} 

/*slider */

.slick-slider {
  width: 90%;
  position: relative;
  margin: 0 auto;
}

.slick-next {
  right: -5px;
  top: 35%;
  z-index: 1000;
}

.slick-prev {
  top: 35%;
  left: -10px;
  z-index: 1000;
}

.slick-prev:before, .slick-next:before {
  font-size: 22px;
}

.slick-dots li button:before {
  font-size: 8px;
}

.slick-dots li.slick-active button:before {
    opacity: 1;
    color: white;
}

.slick-dots {
  bottom: -35px;
}




/* rain drop styles */

.drop {
  background:-webkit-gradient(linear,0% 0%,0% 100%, from(rgba(13,52,58,1) ), to(rgba(255,255,255,0.5))  );
  background: -moz-linear-gradient(top, rgba(13,52,58,1) 0%, rgba(255,255,255,.5) 100%);
	width:1px;
	height:89px;
	position: absolute;
	bottom:200px;
	-webkit-animation: fall .63s linear infinite;
  -moz-animation: fall .63s linear infinite;
  
}

/* animate the drops*/
@-webkit-keyframes fall {
	to {margin-top:900px;}
}
@-moz-keyframes fall {
	to {margin-top:900px;}
}

@keyframes fall {
  to {margin-top:900px;}
}

/* animate logo */

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/*icons*/

.icon-github:before {
  content: "\eab0";
}

.icon-linkedin:before {
  content: "\eac9";
}

@media all and (min-width: 360px) {
  .Page {
    padding-top: 26vh;
    height: 74vh;
  }
}

@media all and (min-width: 450px) {
  .Page {
    padding-bottom: 0;
  }
}

@media all and (min-width: 600px) {
  .Page {
    width: 80%;
  }
  .slick-slider {
    width: 80%;
  }

  .slick-slide .project-image {
    width: 95%;
    margin-top: 20px;
    margin-bottom: 0;
  }

  .slick-next {
    top: 50%;
  }

  .slick-prev {
    top: 50%;
  }
}


.header-background {
   background-color: #222;
}


