@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
 @font-face {
  font-family: 'Mister Pixel';
  src: 
    local('Mister Pixel'),
    local('Mister-Pixel-Regular'),
    url('./fonts/Mister-Pixel-Regular.otf');
}; 

/* @font-face {
  font-family: 'Blocus';
  src: 
    local('Blocus'),
    local('Blocus-Regular'),
    url("./fonts/blocuswebfont.woff") format("woff"),
    url('./fonts/blocuswebfont.ttf') format('true type');
}; */


html {
  -webkit-font-smoothing: antialiased;
}

body {
   background: #222; 
  color: white;
  font-size: 20px;
  font-family: 'Mister Pixel', sans-serif;
  letter-spacing: 1px;
}

p {
  font-family: 'Abel', sans-serif;
}

a {
  color: white;
  text-decoration: none;
  transition: all .35s ease;
}

a:hover {
  cursor: pointer;
  color: rgb(255,40,0);
}


ul {
  list-style-type: none;
  padding: 0;
}

h4 {
  margin-bottom: 0px;
}


.App {
  text-align: center;
  position: relative;
}

.Page {
  padding-top: 29vh;
  height: 71vh;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}


.Clearfix {
  clear: both;
}

/* hamburger nav */

.Collapsible {
  float: left;
  text-align: left;
  position: fixed;
  top: 0;
  z-index: 1000;
  margin: 6%;
} 

/*slider */

.slick-slider {
  width: 90%;
  margin: 0 auto;
}

.slick-slide .project-image {
  display: block;
  width: 95%;
  margin: 25px auto 15px auto;
  outline: 1px solid white;
}

.slick-slide p {
  text-align: left;
  width: 85%;
  margin: 0 auto 10px auto;
  height: 22vh;
  overflow: scroll;
}

.slick-next {
  right: 0px;
  top: 25%;
  z-index: 1000;
}

.slick-prev {
  top: 25%;
  left: -5px;
  z-index: 1000;
}

.slick-prev:before, .slick-next:before {
  font-size: 22px;
}

.slick-dots li button:before {
  font-size: 8px;
}

.slick-dots li.slick-active button:before {
    opacity: 1;
    color: white;
}

.slick-dots {
  bottom: -25px;
}




/* rain drop styles */

.drop {
  background:-webkit-gradient(linear,0% 0%,0% 100%, from(rgba(13,52,58,1) ), to(rgba(255,255,255,0.5))  );
  background: -moz-linear-gradient(top, rgba(13,52,58,1) 0%, rgba(255,255,255,.5) 100%);
	width:1px;
	height:89px;
	position: absolute;
	bottom:200px;
	-webkit-animation: fall .63s linear infinite;
  -moz-animation: fall .63s linear infinite;
  
}

/* animate the drops*/
@-webkit-keyframes fall {
	to {margin-top:900px;}
}
@-moz-keyframes fall {
	to {margin-top:900px;}
}

@keyframes fall {
  to {margin-top:900px;}
}


/*icons*/

.icon-github:before {
  content: "\eab0";
}

.icon-linkedin:before {
  content: "\eac9";
}

@media all and (min-width: 360px) {
  .Page {
    padding-top: 26vh;
    height: 74vh;
  }
}

@media all and (min-width: 600px) {
  .Page {
    width: 80%;
  }
  .slick-slider {
    width: 80%;
  }

  .slick-slide .project-image {
    width: 85%;
    margin-top: 0;
    margin-bottom: 0;
  }
}

 /* ::-webkit-scrollbar {
    -webkit-appearance: none; 
    width: 7px;
} 

 ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,0);
     -webkit-box-shadow: 0 0 1px rgba(255,255,255,0); 
} */

/* Down arrow */

/* .Down-Button h4 {
  opacity: 0;
  transition: all .5s ease;
}

.Down-Button:hover {
  opacity: 1;
}

.Down-Button:hover h4 {
  opacity: 1;
} */
