.App {
  text-align: center;
  position: relative;
}

.App-logo {
  margin-top: 13%;
  width: 15%;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

a {
  color: white;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


html {
  /*height: 100%;*/
}

body {
  background: #222;
  color: white;
  font-size: 20px;
}

.Rain {
  margin-top: 50px;
}

#Landing {
  height: 100vh;
  position: relative;
  overflow: hidden;
}


#Main {
  position: relative;
}

.Header {
  height: 20vh;
  position: fixed;
  top: 0;
  z-index: 100;
  padding: 15px;
  width: 100vw;
}

.Page {
  padding-top: 15vh;
  height: 85vh;
  overflow: hidden;
  position: relative;
}

.Logo {
  border: 2px solid white;
  height: 45px;
  width: 45px;
  text-align: center;
  float: left;
  border-radius: 2%;
}

.Collapsible {
  float: left;
  text-align: right;
  position: absolute;
  right: 45px;
}

.Collapsible div {
  left: 100px;
}

.Clearfix {
  clear: both;
}

.Logo h5 {
  font-size: 14px;
  margin: 16px 0;
}

.drop {
  background:-webkit-gradient(linear,0% 0%,0% 100%, from(rgba(13,52,58,1) ), to(rgba(255,255,255,0.5))  );
  background: -moz-linear-gradient(top, rgba(13,52,58,1) 0%, rgba(255,255,255,.5) 100%);
	width:1px;
	height:89px;
	position: absolute;
	bottom:200px;
	-webkit-animation: fall .63s linear infinite;
  -moz-animation: fall .63s linear infinite;
  
}

/* animate the drops*/
@-webkit-keyframes fall {
	to {margin-top:900px;}
}
@-moz-keyframes fall {
	to {margin-top:900px;}
}

@keyframes fall {
  to {margin-top:900px;}
}


